name: Jest Unit Tests

on:
  workflow_call:

jobs:
  jest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Run Jest suite
      run: |
        cd backend
        npm clean-install
        npm run test -- --ci --reporters=default --reporters=jest-junit