name: Testing

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  merge_group:
    branches: [ main ]

jobs:
  prepare:
    uses: ./.github/workflows/_pre_tests.yml

  jest:
    needs: prepare
    uses: ./.github/workflows/_jest.yml

  e2e:
    needs: prepare
    uses: ./.github/workflows/_e2e_smoke.yml

  cleanup:
    needs: 
      - e2e
      - jest
    if: always() && (success() || failure())
    uses: ./.github/workflows/_post_tests.yml
    with:
      jest_status: ${{ needs.jest.result }}
      e2e_status: ${{ needs.e2e.result }}